.entry-content {
    padding-left: 15px;

    article {
        padding-bottom: 20px;
        margin-bottom: 65px;
        word-wrap: break-word;

        &:not(:last-child) {
            border-bottom: 1px solid #0F1E2D;
        }

        .post-content {
            width: 100%;
            padding-right: 30px;
            box-sizing: border-box;
            float: left;

            .post-meta {
                font-style: italic;
            }
            
            .post-meta .meta-category {
                text-transform: uppercase;
            }
    
            .post-meta a {
                font-size: 16px;
                color: #000000;
            }
    
            .post-meta .meta:not(:last-child):after {
                content: '>';
            }
    
            .post-title {
                font-size: 50px;
                font-weight: 400;

                a {
                    color: inherit;

                    &:hover {
                        color: #9F3636;
                    }
                }
            }

            a {
                color: #9F3636
            }

            .wp-caption,
            .img {
                max-width: 100%;
            }

            .read-more {
                margin-left: 5px;
            }
        }

        @include tablet-min-md {
            &.has-post-thumbnail .post-content {
                width: 68%;
            }
        }
        
        @include tablet-md {
            .post-content {
                padding-right: 0px;
            }
        }
    
        .post-thumbnail {
            float: left;
            width: 32%;
            margin-bottom: 50px;

            img {
                border-radius: 100%;
                width: 100%;
            }
        }

        @include tablet-md {
            .post-thumbnail {
                display: none;
            }
        }

        p a {
            color: #9F3636
        }
    }

    @include sm {
        article {
            margin-bottom: 45px;
        }
    }

    .mconqueror-pagination .page-numbers {
        border: 1px solid #0F1E2D;
        padding: 10px 15px;
        display: inline-block;
        background: #0F1E2D;
        color: #fff;
        transition: all 0.1s ease;

        &.current,
        &:hover {
            border: 1px solid #9F3636;
            background-color: #9F3636;
        }
    }

    .post-navigations a {
        color: #9F3636
    }

    @include sm {
        .mconqueror-pagination .page-numbers {
            margin-bottom: 5px;
        }

    }
}

body.single .entry-content article .post-content {
    width: 100%;
}
body.page .entry-content article {
    margin-bottom: 0;
}

@include tablet-md {
    .entry-content {
        padding-left: 0px;
    }
}

@include sm {
    .entry-content {
        padding: 0 15px;
    }
}