.post-type-archive-event {
    .entry-content {

        .row-separator {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 15px;
                width: calc(100% - 30px);
                background-color: #000;
                height: 1px;
            }
        }

        &> div:last-child:after {
            display: none;
        }
        .row-separator:not(:first-child) {
            margin-top: 40px;
        }

        article {
            margin-bottom: 0;
        }
    }
}

.single-event{

    .event-information {
        
        .event-details {
            width: 73%;
            float: left;
            
            table {
                th {
                    width: 32%;
                    vertical-align: top;
                }
                td {
                    span {
                        display: block;
                    }
                }
            }
        }

        .event-contact {
            width: 27%;
            float: left;
        
            span {
                display: block;
                font-size: 19px;
            }
        }
    
    }

    .event-content {
        margin-top: 25px;
    }
    

}


.event-content {
    .event-meta {
        font-size: 16px;
        font-style: italic;
        margin-bottom: 5px;
    }
}

.event-title a{
    color: inherit;

    &:hover {
        color: #9F3636
    }
}
