.post-type-archive-event {
    .entry-content {

        .row-separator {
            position: relative;

            @include tablet-min-md {
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 15px;
                    width: calc(100% - 30px);
                    background-color: #000;
                    height: 1px;
                }
            }
        }

        &> div:last-child:after {
            display: none;
        }
        
        @include tablet-min-md {
            .row-separator:not(:first-child) {
                margin-top: 40px;
            }
        }

        article {
            margin-bottom: 0;
        }

        @include tablet-md {
            article {
                margin-bottom: 40px;
                border-bottom: 1px solid #000;
            }
        }
    }
}

.single-event{

    .event-information {
        
        .event-details {
            width: 73%;
            float: left;
            
            table {
                th {
                    width: 32%;
                    vertical-align: top;
                }
                td {
                    span {
                        display: block;
                    }
                }
            }
        }

        .event-contact {
            width: 27%;
            float: left;
        
            span {
                display: block;
                font-size: 19px;
            }
        }

        @include tablet-md {
            .event-details, .event-contact {
                width: 100%;
                float: initial;
            }

            .event-details {
                table {
                    tr {
                        margin-bottom: 20px;
                        display: block;
                    }
                    th, td {
                        width: 100%;
                        display: block;
                    }
                }
            }

            .event-contact {
                margin-top: 30px;
            }
        }
    }

    .event-content {
        margin-top: 25px;
    }
}


.event-content {
    .event-meta {
        font-size: 16px;
        font-style: italic;
        margin-bottom: 5px;
    }
}

.event-title a{
    color: inherit;

    &:hover {
        color: #9F3636
    }
}
