footer {
    &.site-footer {
        background-color: #0f1e2dd4;
        height: 90px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #fff;
        line-height: 90px;
        z-index: 99;
        transition: 0.4s all cubic-bezier(0.51, 0.01, 0.29, 0.95);

        a {
            font-size: 19px;
            color: #fff;
        }

        span {
            font-size: 19px;
        }

        .footer-column {
            padding-left: 30px;
        }

        @include tablet-md {
            .footer-column {
                padding-left: 15px;
            }
        }

        .footer-copyright {
            margin-right: 35px;
        }

        .footer-socials {
            margin-right: 35px;

            span.social-list {
                margin-left: 15px;
            }

            a {
                margin-right: 15px;

                &:hover i{
                    transform: scale(1.1);
                }
            }
        }

        .mobile-menu {
            display: none;

            #menu-opener {
                outline: none;
            }
        }

        @include tablet-md {
            .footer-content {
                position: relative;

                .footer-socials {
                    display: none;
                }
    
                .mobile-menu {
                    display: block;
                    position: absolute;
                    right: 0px;
    
                    button {
                        font-size: 35px;
                        background: none;
                        color: #fff;
                        border: 0;
                        text-transform: uppercase;
                    }
                }
            }
        }
        @include sm {
            
            .footer-content {
                .footer-copyright,
                .footer-socials,
                .footer-imprint {
                    display: none;
                }

                .mobile-menu {
                    display: block;
                    position: absolute;
                    right: 50%;
                    transform: translateX(54px);
                }
            }
        }
    }

    @include sm {
        &.site-footer {
            height: 70px;
            line-height: 70px;
        }
    }
}