/***
==== Header
***/
header {
    margin-top: 55px;

    @include xl {
        .logo {
            max-width: 250px;
        }
    }

    @include md {
        .logo {
            max-width: 296px;
            margin: auto;
        }
    }
    
    @include sm {
        .logo {
            max-width: 200px;
            margin: auto;
        }
    }

    .logo img {
        max-width: 100%;
    }

    .site-tagline {
        margin-top: 54px;
        text-align: center;

        h1 {
            font-family: 'IM Fell English',serif;
            font-size: 42px;
            margin-bottom: 0;
            transform: translateX(30px);
            line-height: 1;

            &:before {
                content: '\00BB'
            }
    
            &:after {
                content: '\00AB'
            }
        }

        h4 {
            font-family: 'IM Fell English',serif;
            font-size: 24px;
            transform: translateX(30px);
        }
    }
}