/***
==== Blog homepage /index.php styles
***/
section {
    &.main {
        margin: 95px 0 160px;
    }

    @include md {
        &.main {
            margin: 65px 0 130px;
        }
    }

    @include sm {
        &.main {
            margin: 35px 0 100px;
        }
    }
}

.side-menu {
    ul {
        max-width: 250px;
        padding-left: 0;

        li {
            background-color: #0f1e2d;
            min-height: 50px;
            list-style: none;
            text-align: center;
            padding: 0 15px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &.current-menu-item, 
            &.current-menu-ancestor, 
            &.current-menu-parent {
                background-color: #9F3636;
            }

            &.menu-item-has-children {
                position: relative;

                @include tablet-min-md {
                    > ul.sub-menu {
                        position: absolute;
                        left: 250px;
                        width: 100%;
                        z-index: 9;
                        top: 0;
                        display: none;
                        background-color: #0f1e2d;
                    }
                }

                ul.sub-menu li {
                    border-bottom: 1px solid #fff;
                    margin-bottom: 0;
                    padding: 10px;
                }

                ul.sub-menu li a {
                    line-height: 30px;
                }

                @include tablet-min-md {
                    &:hover > ul.sub-menu {
                        display: block;
                    }
                }

                @include tablet-md {
                    .submenu-opener{
                        position: absolute;
                        width: 60px;
                        font-size: 50px;
                        line-height: 52px;
                        right: 0;
                        border-left: 3px solid #ddd;
                        color: #fff;
                        top: 0;
                        height: 66px;
                    }
                }

            }

            a{
                color: #fff;
                font-size: 20px;
                text-transform: uppercase;
                line-height: 50px;
            }
        }
    }

}

@include tablet-min-md {
    .mobile-menu-closer {
        display: none;
    }
}

@include tablet-md {
    .side-menu {
        position: fixed;
        width: 100%;
        background: rgba(15, 30, 45, 0.85);
        left: 0;
        height: 100%;
        top: 100%;
        z-index: 9;
        padding-top: 15%;
        opacity: 1;
        overflow: scroll;
        transition: 0.4s all cubic-bezier(0.51, 0.01, 0.29, 0.95);

        ul {
            max-width: 100%;
            border-top: 5px solid #fff;

            li {
                background-color: transparent;
                min-height: 65px;
                list-style: none;
                text-align: center;
                padding: 0 15px;
                border-width: 0 0 5px 0;
                border-color: #fff;
                border-style: solid;
                margin: 0;
                padding: 0;

                &:not(:last-child) {
                    margin-bottom: 0;
                }

                a {
                    line-height: 65px;
                }

                &.menu-item-has-children {
                    
                    > ul.sub-menu {
                        display: none;

                        > li > ul.sub-menu {
                            margin-top: 15px;
                        }
                    }

                    .sub-menu.menu-open{
                        display: block;
                    }


                    .sub-menu.menu-open li {
                        border-bottom: 0px solid #fff;
                        background: rgba(15, 30, 45, 0.85);
                        a {
                            line-height: 40px;
                        }
                    }
                }
            }
        }
    }

    
    .mobile-menu-closer {
        display: block;
        height: 75px;
        text-align: center;
        position: fixed;
        bottom: -75px;
        width: 100%;
        left: 0;
        border-top: 5px solid #fff;
        z-index: 999;
        transition: 0.4s all cubic-bezier(0.51, 0.01, 0.29, 0.95);

        span {
            font-size: 35px;
            line-height: 70px;
            color: #fff;
        }
    }

    .mobile-menu-enabled {
        .side-menu {
            top: 0px;
        }

        .mobile-menu-closer {
            bottom: 0;
        }


        footer {
            transform: translateY(90px);
        }
    }
}