/***
==== General Styles
***/

body {
    font-family: 'Sanchez', serif;
    background: transparent url('../img/bg.jpg') 0% 0% no-repeat padding-box;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

/***
==== Header
***/

header {
    margin-top: 55px;

    .logo img {
        max-width: 100%;;
    }

    .site-tagline {
        margin-top: 45px;
        text-align: center;
    }

    .site-tagline h1 {
        font-family: 'IM Fell English', serif;
    }
}
            