@import "includes/breakpoints";
@import "includes/mixins";

/***
==== General Styles
***/
body {
    font-family: 'Sanchez',serif;
    background-image: url(../img/bg.jpg);
    background-position: 0px 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@import "partials/_default_wp";
@import "partials/_header";
@import "partials/_main";
@import "partials/_content";
@import "partials/_comments";
@import "partials/_event";
@import "partials/_button";
@import "partials/_footer";